@charset 'utf-8';

#my-mind-box {
	width: 100vw;
	height: 100vh;
}


#my-mind-box circle {
	cursor: pointer;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(255, 255, 255, .6);
	line-height: 10vh;
	font-size: 24px;
	text-align: center;
	user-select: none;
	cursor: pointer;
	opacity: 0;
	visibility: hidden;
}
footer:hover {
	color: #09f;
}
footer.show {
	visibility: visible;
	opacity: 1;
}
