@charset "utf-8";

/*
	基础样式表
	---------------------------------------------
*/

/* 点 */
.nodes-point {
    fill: #8BC34A;
    stroke: #4CAF50;
    stroke-width: 1;
    transition: fill .4s ease, stroke .4s ease;
}
/* 点 鼠标移入时 */
.nodes-point:hover {
    fill: #CDDC39;
    stroke: #8BC34A;
}
/* 点 获取焦点时 */
.focus .nodes-point {
	fill: #FFEB3B;
    stroke: #FFC107;
}

.node-line-box path {
	stroke-width: 1;
	stroke: #ddd;
	fill: transparent;
}
.node-line-box line.dotted-line,
.node-line-box line.solid-line {
	stroke-width: 1;
	stroke: #ddd;
    transition: stroke .4s ease;
}
.node-line-box line.dotted-line {
	stroke-dasharray: 3 2;
}

#end-arrow {
	fill: #ddd;
    transition: fill .4s ease;
}
#end-hover-arrow {
	fill: #9E9E9E;
    transition: fill .4s ease;
}
#end-focus-arrow {
	fill: #FFC107;
    transition: fill .4s ease;
}
.end-solid-arrow {
	marker-end: url(#end-arrow);
}


/* 选中时 */
/* 箭头效果 */
.nodes-box.focus .end-solid-arrow {
	marker-end: url(#end-focus-arrow);
}
/* 线条效果 */
.nodes-box.focus .node-line-box path,
.nodes-box.focus .node-line-box path {
	stroke: #FFC107;
}
